@page
@model Project_Razor.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-light">Edição de Produto</h1>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Nome" class="control-label"></label>
                <input asp-for="Product.Nome" class="form-control" />
                <span asp-validation-for="Product.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Descricao" class="control-label"></label>
                <input asp-for="Product.Descricao" class="form-control" />
                <span asp-validation-for="Product.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Preco" class="control-label"></label>
                <input asp-for="Product.Preco" class="form-control" />
                <span asp-validation-for="Product.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Estoque" class="control-label"></label>
                <input asp-for="Product.Estoque" class="form-control" />
                <span asp-validation-for="Product.Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageName" class="control-label"></label>
                <input asp-for="Product.ImageName" class="form-control" />
                <span asp-validation-for="Product.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Salvar" class="btn btn-dark" />
                <a class="btn btn-dark" asp-page="./Index">Lista de Produtos</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
